/* The following block can be included in a custom.scss */



/* make the customizations */
$theme-colors: (
  "primary": rgba(23, 45, 104, 0.753),
  "secondary": rgb(119, 149, 162),
  "seconmary": rgb(69, 123, 157),
  "info": rgb(14, 71, 97),
  "danger": rgb(122, 4, 6),
  "black": black,
);
@import '~bootstrap/scss/bootstrap.scss';

/* import bootstrap to set changes */
.line-chart{
  width: auto;
  height: 100%;
  overflow-x: scroll;
}